* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

html,
body,
#root,
#app,
#app > div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  position: fixed;
}

.bg {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  overflow-y: auto;
}

:root {
  --background-color: #d4d0ff;
}

.quote-shadow {
  text-shadow:
    1px 0px 10px rgb(36, 16, 66),
    2px 2px 0px black;
}

.mild-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.shadow-neon {
  box-shadow:
    0 0 15px #6a0dad,
    0 0 30px #ff1493,
    inset 0 0 15px #ff1493;
}
.shadow-glow {
  box-shadow:
    0 0 10px #8e44ad,
    0 0 20px #8e44ad,
    inset 0 0 10px #8e44ad;
}

.vote-before {
  width: 0rem /* 32px */;
  height: 0rem /* 32px */;
  position: absolute;
  transform: rotate(180deg);
  transition: all;
  transition-duration: 500ms;
}

.vote-after {
  width: 4rem /* 32px */;
  height: 4rem /* 32px */;
  top: 0.25rem;
  left: 0.25rem;
  position: absolute;
  transform: translate(42px, 18px);
  transform: rotate(0deg);
  transition: all;
  transition-duration: 500ms;
}

.btn-green {
  display: block;
  background-color: #4bd24e;
  color: white;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  translate: 0px 0%;
  line-height: 2rem;
  border-radius: 9999px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all;
  transition-duration: 200ms;
}

.btn-green:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  translate: 0px 5%;
  background-color: #40b842;
}

.btn-line {
  border: 2px solid #ffffff;
  height: 23%;
  max-height: 4rem;
  width: 70%;
  padding: 0.75rem 20%;
  border-radius: 5rem;
  text-align: center;
  font-weight: 400;
  text-wrap: nowrap;
}

.btn-line:hover {
  color: #29096b;
  background-color: white;
  font-weight: bold;
}

.h-fill-available {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.btn-purple {
  width: 100%;
  height: 3.5rem;
  /* border: none; */
  background-color: #462096;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5rem;
  margin-top: 1rem;
  border-bottom: 5px solid #29096b;
}
.btn-purple:hover {
  background-color: #2a115f;
  transition: background-color 200ms ease-in-out;
  border: none;
}

.navbar-container {
  max-width: 100%;
  background-color: #2a115f;
  height: 6rem;
  box-shadow: 10px 0 10px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-black {
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 80%;
  text-wrap: nowrap;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  border-bottom: #c5c5c5 solid 0.3rem;
  border-radius: 0.5rem;
  box-shadow: black 0 6px 6px 0;
  margin: 0.5rem;
}
.btn-black:hover {
  border: none;
  border-bottom: #c5c5c5 solid 0rem;
  border-top: #000000 solid 0.3rem;
  filter: brightness(75%);
  cursor: pointer;
  box-shadow: none;
  transition: background-color 200ms ease-in-out;
  /* box-shadow 200ms ease-in-out; */
}

.btn-white {
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 80%;
  text-wrap: nowrap;
  font-weight: 700;
  background-color: white;
  color: #9074ff;
  border: none;
  border-bottom: #b5a3ff solid 0.3rem;
  border-radius: 5rem;
  margin: 0.5rem;
}
.btn-white:hover {
  border: none;
  border-bottom: #b5a3ff solid 0rem;
  /* padding-top: 1.25rem; */
  border-top: #6246d0 solid 0.3rem;
  background-color: #c0b0ff;
  color: #6246d0;
  cursor: pointer;
  box-shadow: inset gray 0 4px 20px 0;
  transition:
    background-color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}
@media only screen and (max-width: 768px) {
  .btn-white {
    padding: 1rem 1rem;
  }
  .btn-black {
    padding: 1rem 2rem;
  }
}
.blue-hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.blue-hover:hover {
  box-shadow: 0 0 20px #10e9e9;
  transition: all;
  transition-duration: 300ms;
}

.text-dynamic {
  font-size: calc(2 * 100%);
}

.animate-float {
  -webkit-animation: action 1s infinite alternate;
  animation: Float 1s ease-in-out infinite;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes Float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}
